<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Teachers</h3>
            <div class="pull-right navbar-btn">
                <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#addTeacherModal"> <i class="fa fa-plus"></i> Add </button>
                <button type="button" class="btn btn-primary btn-round" (click)="onImportTeacher()"> <i class="fa fa-upload"></i> Import</button>
                <button type="button" class="btn btn-primary btn-round" (click)="onExportTeacher()"> <i class="fa fa-download"></i> Export</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-xs-4">
                    <input placeholder="Search Teacher Name" class="form-control" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" />
                </div>
            </div>
            <br>
            <table class="table table-bordered text-center table-hover">
                <thead>
                    <tr>
                        <th (click)='onSortNameClick()'>
                            Name
                            <i *ngIf="sort_tag[sort_index] == 'asc'" class="fa fa-chevron-up"></i>
                            <i *ngIf="sort_tag[sort_index] == 'dsc'" class="fa fa-chevron-down"></i>
                        </th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Current Courses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let teacher of teacher_list" (click)='onCellClick(teacher.id,teacher.email)'>
                        <td>{{teacher.first_name}} {{teacher.last_name}}</td>
                        <td>{{teacher.phone}}</td>
                        <td>{{teacher.email}}</td>
                        <td>{{teacher.current_courses}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="onPageChanged($event)" class="pull-right no_margin"></pagination>
            <div class="form-group">
                <select [(ngModel)]="itemsPerPage" (ngModelChange)="onSearchChange()">
                    <option>10</option>
                    <option>30</option>
                    <option>50</option>
                </select>
                <span>Items/page</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addTeacherModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Teacher</h4>
                </div>
                <form class="form-horizontal form-label-left">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" [(ngModel)]="newTeacherFirstName" name="first_name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" [(ngModel)]="newTeacherLastName" name="last_name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> Email <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" [(ngModel)]="newTeacherEmail" name="email" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> Phone </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="text" name="phone" [(ngModel)]="newTeacherPhone">
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <label> *Password will be the part before "@" in email</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="onCancelAddTeacher()">Cancel</button>
                        <button type="button" class="btn btn-default btn-success" (click)="onAddTeacher()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<import-modal [import_type]="appService.import_export_type.teacher" [title]="'Import Teacher'" (onClose)="onCloseImport($event)"></import-modal>
<export-modal [export_type]="appService.import_export_type.teacher" [title]="'Export Teacher'" [search_data]="export_search_data"></export-modal>