<div class="col-md-12">
    <div *ngIf="course_not_found" class="x_panel">
        <div class="x_title">
            <h3 class="course_title">Course not found or You're not teaching this course</h3>
            <div class="clearfix"></div>
        </div>
    </div>
        <div *ngIf="!course_not_found" class="x_panel">
            <div class="x_title">
                <h3 class="course_title">{{course['code']}} - {{course['name']}} ({{course['semester_name']}})</h3>
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-round navbar-btn" (click)="onOpenSchedule()"> <i class="fa fa-calendar"></i> Schedule</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-1" style="text-align: right">
                            <h4>TAs :</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4 *ngFor="let TA of TAs"><a href="/teachers/{{TA.id}}">{{TA.first_name}} {{TA.last_name}}</a></h4>
                        </div>
                        <div class="col-xs-2" style="text-align: right;">
                            <h4>Total Students :</h4>
                        </div>
                        <div class="col-xs-2">
                            <h4 *ngFor="let class_course of class_has_course">{{class_course.total_stud}} ({{class_course.class_name}})</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="course['office_hour']" class="col-xs-2" style="text-align: right">
                            <h4>Office hour :</h4>
                        </div>
                        <div *ngIf="course['office_hour']" class="col-xs-2">
                            <h4>{{course['office_hour']}}</h4>
                        </div>
                        <div *ngIf="course['note']" class="col-xs-2" style="text-align: right">
                            <h4>Note :</h4>
                        </div>
                        <div *ngIf="course['note']" class="col-xs-6">
                            <h4>{{course['note']}}</h4>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <ul class="nav nav-tabs" *ngIf="class_has_course.length > 1">
                          <li *ngFor="let class of class_has_course; let i = index" [ngClass]="{'active': i == selected_class_index}" (click)="onChangeClass(i)"><a>{{class.class_name}}</a></li>
                    </ul>
                </div>
                <div>
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th colspan="2">Week 1</th>
                                <th colspan="2">Week 2</th>
                                <th colspan="2">Week 3</th>
                                <th colspan="2">Week 4</th>
                                <th colspan="2">Week 5</th>
                                <th colspan="2">Week 6</th>
                                <th colspan="2">Week 7</th>
                                <th colspan="2">Week 8</th>
                                <th colspan="2">Week 9</th>
                                <th colspan="2">Week 10</th>
                                <th colspan="2">Week 11</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let attendance of attendance_list;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{attendance.code}}</td>
                                <td>{{attendance.name}}</td>
                                <ng-container *ngFor="let attendance_detail of attendance.attendance_details;let j = index">
                                    <ng-template #tolTemplate>
                                        <div>Method : {{attendance_detail.method}}</div>
                                        <div>Created at : {{attendance_detail.created_at | date:'short'}}</div>
                                        <div *ngIf="attendance_detail.attendance_type != appService.attendance_type.absent">Attended at : {{attendance_detail.attendance_time | date:'short'}}</div>
                                        <div *ngIf="attendance_detail.edited_by">Edited by : {{attendance_detail.editor}}</div>
                                        <div *ngIf="attendance_detail.edited_by">Reason : {{attendance_detail.edited_reason}}</div>
                                    </ng-template>
                                    <td width="3%" [tooltip]="tolTemplate" container="body" [ngClass]="{'warning_background': attendance_detail.edited_by}"><i [ngClass]="['fa attendance-check', attendance_detail.icon]"></i></td>
                                </ng-container>
                                <ng-container *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]">
                                    <td class="gray_background" width="3%" *ngIf="number > attendance.attendance_details.length"></td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
<edit-schedule-modal [modal_id]="scheduleModal.id" [modal_title]="scheduleModal.title" [classes]="class_has_course"  [view_only]="true"></edit-schedule-modal>