<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Programs</h3>
            <div class="navbar-btn pull-right">
                <button type="button" class="btn btn-primary btn-round" (click)="onAddProgram()"> <i class="fa fa-plus"></i> Add</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="form-group col-md-4 col-xs-12">
                    <input placeholder="Search Class Name" class="form-control" [(ngModel)]="searchText" (ngModelChange)="getProgramList()" />
                </div>
            </div>
            <br>
            <table class="table table-bordered text-center table-hover">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Total classes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let program of programs" (click)='onCellClick()'>
                        <td>{{program.code}}</td>
                        <td>{{program.name}}</td>
                        <td>{{program.total_class}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="onPageChanged($event)" class="pull-right no_margin"></pagination>
            <div class="form-group">
                <select [(ngModel)]="itemsPerPage" (ngModelChange)="getProgramList()">
                    <option>10</option>
                    <option>30</option>
                    <option>50</option>
                </select>
                <span>Items/page</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProgramModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new program</h4>
                </div>
                <form class="form-horizontal form-label-left">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name*</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="new_program_name" name="new_program_name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Code*</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="new_program_code" name="new_program_code" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default btn-success" (click)="confirmAddProgram()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>