<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Change Password</h3>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal form-label-left">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-sm-offset-2 col-sm-2 col-xs-12">Current Password*</label>
                                <div class="col-sm-4 col-xs-12">
                                    <input type="password" [(ngModel)]="current_password" name="current_password" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-sm-offset-2 col-sm-2 col-xs-12">New Password*</label>
                                <div class="col-sm-4 col-xs-12">
                                    <input type="password" [(ngModel)]="new_password" name="new_password" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-sm-offset-2 col-sm-2 col-xs-12">Confirm Password*</label>
                                <div class="col-sm-4 col-xs-12">
                                    <input type="password" [(ngModel)]="confirm_password" name="confirm_password" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onCancelChangePassword()">Cancel</button>
                    <button type="button" class="btn btn-success" (click)="onChangePassword()">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
