<!-- <div *ngIf="!authService.isLoggedIn">
    <router-outlet></router-outlet>
</div>
<div *ngIf="authService.isLoggedIn" class="container body">
    <div class="main_container">
        <div>
            <div class="col-md-3 left_col menu_fixed">
                <app-side-menu></app-side-menu>
            </div>
            <div class="top_nav">
                <app-top-navigation></app-top-navigation>
            </div>
            <div class="right_col" role="main">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>