<div class="container body">
    <div class="main_container">
        <div id ="menu_fixed" class="col-md-3 left_col menu_fixed">
            <app-side-menu></app-side-menu>
        </div>
        <div class="top_nav">
            <app-top-navigation></app-top-navigation>
        </div>
        <div class="right_col" role="main">
            <div id="app_content">
                <div id="app_content_inner" class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
