<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <div class="col-sm-2" style="padding: 0;text-align: center;">
                <img id="profilePic" style="height:150px;width:150px;padding-bottom: 5px;">
                <ng-container *ngIf="isEditingProfile">
                    <label class="btn btn-primary">
                        Change Picture
                        <input type="file" style="display:none;" name="uploads" (change)="onEditProfilePic($event)">
                    </label>  
                </ng-container>    
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 profile_left">
                <ng-container *ngIf="!isEditingProfile">
                    <h3>{{editing_name}}</h3>
                    <ul class="list-unstyled user_data" style="font-size: medium;">
                        <li>
                            <i class="fa fa-phone"></i> {{authService.current_user.phone}}
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i> {{authService.current_user.email}}
                        </li>
                    </ul>
                    <button class="btn btn-primary" (click)="onEditProfile()"><i class="fa fa-pencil"></i> Edit</button>
                </ng-container>
                <ng-container *ngIf="isEditingProfile" (keydown)="keyDownFunction($event)">
                    <h3><input class="form-control" type="text" name="editing_name" [(ngModel)] = "editing_name"></h3>
                    <ul class="list-unstyled user_data" style="font-size: medium;">
                        <li>
                            <i class="fa fa-phone"></i>
                            <input class="form-control" type="text" name="editing_phone" [(ngModel)]="editing_phone">
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <input class="form-control" type="text" name="editing_mail" [(ngModel)]="editing_mail">
                        </li>
                    </ul>
                    <button class="btn btn-default" (click)="onCancelEditProfile()">Cancel</button>
                    <button class="btn btn-success" (click)="onSaveEditProfile()">Save</button>
                </ng-container>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="pad-top">
                    <button type="button" class="btn btn-primary" (click)="onChangePassword()">
                        <i class="fa fa-cogs fa-3x"></i>
                        <h5>Change Password</h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h3>Staff list</h3>
            <div class="navbar-btn pull-right">
                <button type="button" class="btn btn-primary btn-round" (click)="onAddStaff()"> <i class="fa fa-plus"></i> Add</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let staff of staffs;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{staff.first_name}}</td>
                            <td>{{staff.last_name}}</td>
                            <td>{{staff.email}}</td>
                            <td>{{staff.phone}}</td>
                            <td><button class="btn btn-danger" (click)="onRemoveStaff(staff.email)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="progressModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h2>Loading</h2>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addStaffModal" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add staff</h4>
                </div>
                <form class="form-horizontal form-label-left">
                    <div class="modal-body row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name*</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="newFirstName" name="first_name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name*</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="newLastName" name="last_name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Phone* </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12" type="text" name="phone" [(ngModel)]="newPhone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Email* </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" [(ngModel)]="newEmail" name="email" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="onCancelAddStaff()">Cancel</button>
                        <button type="button" class="btn btn-default btn-success" (click)="addStaff()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
