<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form *ngIf="!reset_token">
                    <h1>Forgot Password?</h1>
                    <div *ngIf="apiResult == 'failure'">
                        <div class="panel panel-default">
                            <div class="panel-body">To reset your password, submit your email address below. If we can find you in the database, an email will be sent to your email address, with instructions how to get access again.</div>
                        </div>
                        <div *ngIf="error_message" class="alert alert-danger text-center" style="padding-top: 6px;padding-bottom: 6px">
                            <i class="fa fa-warning"></i> {{error_message}}
                        </div>
                        <div>
                            <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="email" />
                        </div>
                        <div>
                            <button class="btn btn-default" (click)="forgotPassword()">Search</button>
                        </div>
                    </div>
                    <div *ngIf="apiResult == 'success'">
                        <div class="panel panel-default">
                            <div class="panel-body">An email has been sent to your address at {{email}}. It contains easy instructions to confirm and complete this password change. If you continue to have difficulty, contact the site administrator.</div>
                            <div>
                                <button class="btn btn-default" (click)="continue()">Continue</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
                <form *ngIf="reset_token">
                    <h1>Forgot Password?</h1>
                    <div *ngIf="error_message" class="alert alert-danger text-center" style="padding-top: 6px;padding-bottom: 6px">
                        <i class="fa fa-warning"></i> {{error_message}}
                    </div>
                    <div *ngIf="success_message" class="alert alert-success text-center" style="padding-top: 6px;padding-bottom: 6px">
                        {{success_message}}
                    </div>
                    <div *ngIf="reset_password_check == 'failure'">
                        <div>
                            <button class="btn btn-default" (click)="continue()">Continue</button>
                        </div>
                    </div>
                    <div *ngIf="reset_password_check == 'success'">
                        <div class="panel panel-default">
                            <div class="panel-body">Enter your new password and confirm it</div>
                        </div>
                        <div>
                            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" />
                        </div>
                        <div>
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" [(ngModel)]="confirm_password" />
                        </div>
                        <div>
                            <button class="btn btn-default" (click)="resetPassword()">Change</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </section>
        </div>
    </div>
</div>
