<div class="left_col_content">
    <div class="navbar nav_title " style="border: 0;">
        <a routerLink="/" routerLinkActive="active" class="site_title"><span> Attendance Website</span></a>
    </div>
    <div class="clearfix"></div>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li *ngFor="let route of sideMenu">
                    <a *ngIf="!route.subMenu" routerLink="{{route.url}}" routerLinkActive="active"><i class="fa {{route.icon}}"></i>{{route.title}}</a>
                    <a *ngIf="route.subMenu"><i class="fa {{route.icon}}"></i>{{route.title}}<span class="fa fa-chevron-down"></span></a>
                    <ul *ngIf="route.subMenu" class="nav child_menu">
                        <li *ngFor="let subroute of route.subMenu"><a routerLink="{{subroute.url}}">{{subroute.title}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>
